.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}

.icon{
    font-size: 25px;
    width: 33%;
    text-align: right;
}

.p, .input{
    font-size: 20px;
    width: 50%;
    text-align: center;
    color: rgb(172, 180, 180);
    height: 20px;
}

.p{
  text-align: left;
  color: rgb(172, 180, 180);
}

.input{
  background-color: inherit;
  border: none;
  border-bottom: 2px solid gray;
} 